h1 {
	font-family: 'calibri';
}
h2 {
	font-family: 'calibri';
}
h3 {
	font-family: 'calibri';
}
h4 {
	font-family: 'calibri';
}
h5 {
	font-family: 'calibri';
}
h6 {
	font-family: 'calibri';
}
a {
	font-family: 'calibri';
	color: white;
}

header {
	background-image: url("../img/back-header.jpg");
	height: 967px;
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar {
	color: white;
	background-color: #0202026e;
}