h1 {
	font-family: 'calibri';
}
h2 {
	font-family: 'calibri';
}
h3 {
	font-family: 'calibri';
}
h4 {
	font-family: 'calibri';
}
h5 {
	font-family: 'calibri';
}
h6 {
	font-family: 'calibri';
}
a {
	font-family: 'calibri';

	cursor: pointer;
}

header {
	background: url("../img/back-header.jpg") no-repeat center center;
	height: 600px;
}
content {
	height: 600px;
	background-color: white;
}

a:hover a{
 	color: blue;	
}

header a {
	font-size: 20px;
}